[submodule "extern/luau"]
	path = extern/luau
	url = https://github.com/luau-lang/luau.git
	ignore = untracked
[submodule "extern/godot-cpp"]
	path = extern/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	ignore = untracked
